
.content {
	position: relative;
	width: auto;
	height: auto;
	margin-left: 120px;
	margin-top: 70px;
	text-align: justify;
}

.title {
	color: #FEDD19;
}

.content img {
	float: left;
	border: 2px solid #FEDD19;
	width: 400px;
	height: auto;
	margin: 0px 20px 10px 0px;
}

.content p {
	position: relative;
	margin-right: 130px;
	padding-bottom: 20px;
}