

.cv {
    float: right;
  }

.cv ul {
    padding-right: 30px;
    margin-top: -45px;
}

.cv li {
    display: inline-block;
    float: right;
    margin-top: -8px;
     color: #000000;
     font-size: 11px;
}

#cv {
  font-weight: bold;
  padding-right: 5px;
}

.cv a {
    padding: 0px;
    text-decoration: none;
    font-size: 11px;
    color: #000000;
    position: relative;
}
