

.roomfilm94 {
	width: auto;
	height: auto;
	color: #ffffff;
	margin-left: 200px;
	margin-top: 30px;
	position: absolute;
	line-height: 150%;

}

.title94 {
	color: #FEDD19;
}

.roomfilm94 img {
	border: 2px solid #FEDD19;
	width: 400px;
	max-height: 250px;
}

/*.secured94 {
	width: auto;
	height: auto;
	color: #ffffff;
	margin-left: 200px;
	margin-top: 30px;
	position: relative;
	line-height: 150%;

}

.title94 {
	color: #FEDD19;
}

.secured94 img {
	border: 2px solid #FEDD19;
	width: 400px;
	max-height: 250px;
}*/


