

.links {
	width: 800px;
	margin-left: 400px;
	margin-top: 80px;
	position: absolute;
}

.links table td {
	padding: 0px 25px 10px 10px;
	/*border: 1px solid #FEDD19;*/
}

.links td {
	max-width: 150px;
	vertical-align: text-top;
}


.links a {
	text-decoration: none;
	color: #ffffff;
}

.links h3 {
	margin-top: 0px;
}

.links span {
	color: #FEDD19;
}

.links a:hover {
	color: #FEDD19;
}

