


/*navbar in the middle?
check clear!
chech block!
check psition!*/

ul {
    list-style-type: none;
    padding-top: 0px;
}

.nav-bar {
	width: 750px;
	margin: 0px auto;
	padding-top: 30px;
}

.clear {
	clear: both;
}

li a {
    display: block;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 15px;
    border-left: 1px solid #FEDD19;
    float: left;
}

li a:hover {
	color: #000000;
    background-color: #FEDD19;
}

#leftborder {
	border-left: 1px solid #000000;
} 
