


.nav-bar {
	list-style:none;
    margin:0;
    padding:0;
    position: absolute;
    margin-left: 350px;
}

.nav-bar li {
    display:inline;
    float: left;
}

.nav-bar a {
    display:block;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border-left: 1px solid #FEDD19;
}

.nav-bar li a:hover {
	color: #000000;
    background-color: #FEDD19;
}

#leftborder {
	border-left: 1px solid #000000;
} 
