

.rozalogo {
	font-family: "Architects Daughter";
	font-size: 20px;
	height: 120px;
	width: 150px;
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #FEDD19;
	position: absolute;
	left: 50px;
	top: 10px;
}

.rozalogo h3 {
	position: absolute;
	left: 20px;
	top: 10px;
	text-align: center;
}



